@font-face {
  font-family: "Roboto_Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Roboto-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto_Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Roboto-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto_Light";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Roboto-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Roboto-Medium.ttf");
  font-display: swap;
}
