@mixin card {
  .card {
    cursor: pointer;
    padding-bottom: 2em;
    .rectangle {
      position: absolute;
      height: 210px;
      width: 197px;
      background: rgba(9, 30, 66, 0.95);
      mix-blend-mode: color;

      @media (max-width: 675px) {
        width: 162px;
      }
    }

    img {
      height: 210px;
      width: 197px;
      left: 0px;
      top: 0px;
      border-radius: 0px;

      @media (max-width: 675px) {
        width: 162px;
      }
    }

    span {
      margin-top: 0 !important;
      color: $ax_color_subt_greylight;
      font-family: Roboto_Light, sans-serif;
    }
  }
}
@mixin Forminput {
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    @media (max-width: 675px) {
      font-size: 0.7rem;
    }
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;

    @media (max-width: 675px) {
      font-size: 0.7rem;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 100;
    border-width: 3px;
    border-image: #fff;
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;

    @media (max-width: 675px) {
      font-size: 0.7rem;
    }
  }

  /* reset input */
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }
}
